body {
  background-color: #f8f4ed;
}


.flex-container {
  display: flex;
  justify-content:space-between;
  gap: 40px;
  text-align: center;
 padding: 1rem 1rem;
}



#welcome {
  text-align: center;
  padding: 3rem 1rem; 
}

h1 {
  color: darkgreen;
}

nav {
  background-color: darkgreen;
  padding: 10px;
  display:flex;
  justify-content: center;
   
}

nav a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: translateY(-3px);
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

section {
  margin-bottom: 50px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: darkgreen;
}
footer p {
  color: white;
  margin: 0;
}